body{
  box-sizing: border-box;
  position: relative;
  width: 100%;
  height: 100%;
}

a{
  text-decoration: none;
  color: black;
}

nav h1{
  margin: 0;
}

.main{
  margin-top: 30px;
  text-align: center;
}

#easteregg{
  margin: 0;
  color: lime;
}

#containerGiocatori{
  text-align: center;
  margin: 0 auto;
  margin-top: 10px;
  width:90%;
  overflow:hidden;
}

#Giocatore{
  display:inline-block;
  background:lime;
  width:300px;
  margin: 5px;
}

#FotoGiocatore{
  width:40%;
  height:90%;
}

#overlayC, #overlayL{
  position: absolute;
  background-color: rgba(0, 0, 0, 0.5);
  top: 0;
  left: 0;
  width: 100%;
  height: 100vh;
}

#Statistiche{
  text-align: center;
  margin: 0 auto;
  margin-top: 10px;
  width:90%;
  overflow:hidden;
  color:aqua;
}

#Titolo{
  height: 50px;
  width: 89%;
  background-color: lime;
  text-align: center;
  margin: 0 auto;
  display: inline-block;
}

#LogIn{
  width: 10%;
  margin: 0;
  display: inline-block;
  height: 50px;
  background-color: lime;
  text-align: center;
}

#LogOut{
  width: 10%;
  margin: 0;
  display: inline-block;
  height: 50px;
  background-color: lime;
  text-align: center;
}

#MyTeam{
  width: 100%;
  text-align: right;
}
